@import "./mixins.scss";

.DungeonMaster {
  width: 100vw;
  height: 100vh;
  display: flex;

  &-leftPane {
    @include background;
    @include border;
    @include font-color;

    flex: 1;
  }
  &-rightPane {
    @include background;
    @include border;
    @include font-color;

    flex: 3;
  }
}
